name: Build & Create PR for Develop

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - feature/*  # Dispara o workflow quando h치 um push em uma branch feature

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'  # Voc칡 pode usar 'zulu', 'adopt', 'jetbrains'.
          java-version: '21'
          cache: 'gradle'

      - name: Configurar cache do Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Dar permiss칚o de execu칞칚o ao Gradle Wrapper
        run: chmod +x gradlew

      - name: Construir o Mod
        run: ./gradlew build

      - name: Criar PR autom치tico para Develop
        uses: peter-evans/create-pull-request@v7
        with:
          branch: develop
          title: "游댢 Atualiza칞칚o autom치tica do Mod"
          body: "Este PR foi criado automaticamente ap칩s um build bem-sucedido."
          labels: "automerge, build-pass"
          delete-branch: true
